<div class="flex items-center justify-center p-12 mb-16">
  <div class="mx-auto w-full max-w-[550px]">
    <%= form_with model: @user do |form| %>
        <div class="mb-3">
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.label :username %>
        </div>
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.text_field :username, placeholder: "Enter your Username", class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %><br>
          <% @user.errors.full_messages_for(:username).each do |message|%>
            <div class="text-red-700 text-xs">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.label :email %>
        </div>
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.text_field :email, placeholder: "email@example.com", class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %><br>
          <% @user.errors.full_messages_for(:email).each do |message|%>
            <div class="text-red-700 text-xs">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.label :password %>
        </div>
        <div class="mb-3 block text-base font-medium text-[#07074D]">
          <%= form.text_field :password, class: "w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %><br>
          <% @user.errors.full_messages_for(:password).each do |message|%>
            <div class="text-red-700 text-xs">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= form.submit "Sign up", class: "cursor-pointer hover:shadow-form rounded-md bg-[#295D09] py-3 px-8 text-base font-semibold text-white outline-none"%>
      </div>
    <% end %>
  </div>
</div>
