<div class="text-center">
  <h1 class="text-center text-4xl mt-10 mb-4">All Authors</h1>
</div>
<div class="grid grid-cols-1 gap-8 mt-8 mb-40 md:grid-cols-2 xl:grid-cols-3">
<% @users.each do |user| %>
  <div class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
    <img
      src="https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"
      class="aspect-video w-full object-cover"
      alt=""
    >
    <div class="p-4">
      <p class="my-2 text-sm text-primary-500"><%= user.username %><span class="text-[#295D09]">•</span> <time>Registered <%= time_ago_in_words(user.created_at) %> ago</time></p>
      <h3 class="text-xl font-medium text-gray-900"><%= pluralize(user.articles.count, "article") %></h3>
      <div class="mt-4 flex gap-2">
        <span class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-[#295D09]">
          <%= link_to "View profile", user %>
        </span>
        <span class="inline-flex items-center gap-1 rounded-full bg-indigo-50 px-2 py-1 text-xs font-semibold text-indigo-600">
          <%= link_to "Edit profile", edit_user_path(user) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
</div>
